/* Navbar styles */
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2196F3; /* Blue color */
    color: #fff; /* White color */
    padding: 10px 20px;
  }
  
  .nav-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #fff; /* White background */
    color: #2196F3; /* Blue color */
    border: 1px solid #2196F3; /* Blue border */
    border-radius: 4px;
    cursor: pointer;
  }
  
  .nav-buttons button:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }
  
  /* Search container styles */
  .search-container {
    margin-top: 20px;
    padding: 0 20px;
  }
  
  .search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Group list styles */
  .group-list {
    margin-top: 20px;
    padding: 0 20px;
  }
  
  .group {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .group h3 {
    margin-top: 0;
  }
  
  .group p {
    margin-bottom: 10px;
  }
  
  .group button {
    background-color: #2196F3; /* Blue color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .group button:hover {
    background-color: #0b7dda; /* Darker blue color */
  }
  